{% extends "layout.html" %}
{% block title %}
    Register a U2F device
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>

  <div class=twitbox>
    <h3>Insert and touch a new U2F device</h3>
    <form id=u2f_form action="{{ url_for('u2f_register_complete') }}" method=post>
      <input type=hidden name=name value="{{ name }}">
      <input type=hidden name=u2f_data id=u2f_data>
    </form>
  </div>

  <script type="text/javascript">
    var appId = "{{ reg_req.appId }}";
    var registerRequests = [{ challenge: '{{ reg_req.registerRequests[0]['challenge'] }}', version: '{{ reg_req.registerRequests[0]['version'] }}', attestation: 'direct' }];
    u2f.register(appId, registerRequests, {{ reg_req.registeredKeys | tojson }}, function(resp) {
  if(resp.errorCode) {
    alert('Error: ' + resp.errorCode);
  } else {
    document.getElementById('u2f_data').value = JSON.stringify(resp);
    document.getElementById('u2f_form').submit();
  }
});
  </script>

{% endblock %}
